<!-- js個別定義 -->
<% content_for :js do %>
   <%= javascript_import_module_tag "dashboard/show" %>
<% end %>
<div class="bg-color-light-gray">
    <div class="alert-templates" style="display:block;">
        <div id="alert-success" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>SUCCESS</strong>
            A simple success alert—check it out!
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
        </div>
        <div id="alert-danger" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>DANGER</strong>
            A simple danger alert—check it out!
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
        </div>
        <div id="alert-warning" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>WARNING</strong>
            A simple warning alert—check it out!
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
        </div>
        <div id="alert-info" class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>INFO</strong>
            A simple info alert—check it out!
            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
        </div>
    </div>
    <h1>Dashboard#show</h1>
    <p>Find me in app/views/dashboard/show.html.erb</p>
    <p>BootStrap5 Buttons</p>
    <div>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>

        <button type="button" class="btn btn-link">Link</button>
    </div>
</div>